:host {
  --rex-gold: #E0C989;
  --rex-black: #000000;
  --rex-dark-gray: #1D1D1D;
  --rex-beige: #F5EFE0;
}

.bg-rex-gold { background-color: var(--rex-gold); }
.bg-rex-black { background-color: var(--rex-black); }
.bg-rex-dark-gray { background-color: var(--rex-dark-gray); }
.bg-rex-beige { background-color: var(--rex-beige); }

.text-rex-gold { color: var(--rex-gold); }
.text-rex-black { color: var(--rex-black); }
.text-rex-dark-gray { color: var(--rex-dark-gray); }
.text-rex-beige { color: var(--rex-beige); }

.border-rex-gold { border-color: var(--rex-gold); }
.border-rex-black { border-color: var(--rex-black); }
.border-rex-dark-gray { border-color: var(--rex-dark-gray); }
.border-rex-beige { border-color: var(--rex-beige); }

/* Classes pour les états de survol */
.hover\:bg-rex-gold:hover { background-color: var(--rex-gold); }
.hover\:bg-rex-black:hover { background-color: var(--rex-black); }
.hover\:bg-rex-dark-gray:hover { background-color: var(--rex-dark-gray); }
.hover\:bg-rex-beige:hover { background-color: var(--rex-beige); }

.hover\:text-rex-gold:hover { color: var(--rex-gold); }
.hover\:text-rex-black:hover { color: var(--rex-black); }
.hover\:text-rex-dark-gray:hover { color: var(--rex-dark-gray); }
.hover\:text-rex-beige:hover { color: var(--rex-beige); }