<div class="space-card" [ngClass]="{'featured': isFeatured}">
    <!-- Card Image Container -->
    <div class="card-image-container relative overflow-hidden">
      <!-- Featured Badge -->
      <div *ngIf="isFeatured" class="featured-badge">
        <span>Recommandé</span>
      </div>
      
      <!-- Image -->
      <img [src]="space.mainImage" [alt]="space.name" class="card-image transition-transform duration-500 hover:scale-105">
      
      <!-- Type Badge -->
      <div class="type-badge">
        <span>{{ getSpaceTypeLabel(space.type) }}</span>
      </div>
    </div>
    
    <!-- Card Content -->
    <div class="card-content">
      <h3 class="card-title">{{ space.name }}</h3>
      
      <!-- Price Display -->
      <div class="price-container">
        <app-price-display [price]="space.price" [showLabel]="true"></app-price-display>
      </div>
      
      <!-- Short Description -->
      <p *ngIf="showDetails" class="card-description">{{ space.shortDescription }}</p>
      
      <!-- Key Features -->
      <div *ngIf="showDetails" class="key-features">
        <div class="feature-item">
          <svg xmlns="http://www.w3.org/2000/svg" class="feature-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
          </svg>
          <span>{{ space.capacity }} personne<span *ngIf="space.capacity > 1">s</span></span>
        </div>
        
        <div class="feature-item">
          <svg xmlns="http://www.w3.org/2000/svg" class="feature-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 01-1 1h-2a1 1 0 01-1-1v-2a1 1 0 00-1-1H7a1 1 0 00-1 1v2a1 1 0 01-1 1H3a1 1 0 01-1-1V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd" />
          </svg>
          <span>{{ space.surface }} m²</span>
        </div>
        
        <div *ngIf="space.view && space.view.length > 0" class="feature-item">
          <svg xmlns="http://www.w3.org/2000/svg" class="feature-icon" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
          </svg>
          <span>Vue {{ space.view[0].toLowerCase() }}</span>
        </div>
        
        <div *ngIf="space.floor !== undefined" class="feature-item">
          <svg xmlns="http://www.w3.org/2000/svg" class="feature-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
          <span>Étage {{ space.floor }}</span>
        </div>
      </div>
      
      <!-- Amenities -->
      <div *ngIf="showDetails && space.amenities && space.amenities.length > 0" class="amenities-container">
        <div *ngFor="let amenity of getVisibleAmenities()" class="amenity-item">
          <app-amenity-badge [amenity]="amenity"></app-amenity-badge>
        </div>
        
        <div *ngIf="hasMoreAmenities()" class="more-amenities">
          +{{ getAdditionalAmenitiesCount() }} plus
        </div>
      </div>
      
      <!-- Action Button -->
      <div class="action-container">
        <a [routerLink]="['/spaces', space.id]" class="view-details-btn">
          Voir les détails
          <svg xmlns="http://www.w3.org/2000/svg" class="arrow-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </div>