<div class="room-card">
  <!-- Vertical Layout -->
  <div *ngIf="orientation === 'vertical'" class="room-card-vertical">
    <!-- Room Image with Overlay -->
    <div class="image-container">
      <a [routerLink]="['/rooms', room.id]" class="image-link">
        <img 
          [src]="room.mainImage" 
          [alt]="room.name" 
          class="room-image"
        >
      </a>
    </div>
    
    <!-- Content Section -->
    <div class="card-content">
      <!-- Room Name and Type -->
      <div class="room-title-container">
        <h3 class="room-title">
          <a [routerLink]="['/rooms', room.id]">{{ room.name }}</a>
        </h3>
        <p class="room-type">{{ getRoomTypeLabel(room.type) }}</p>
      </div>
      
      <!-- Room Description -->
      <p *ngIf="showDetails" class="room-description">
        {{ room.shortDescription }}
      </p>
      
      <!-- Room Features -->
      <div *ngIf="showDetails" class="room-features">
        <div class="feature">
          <svg xmlns="http://www.w3.org/2000/svg" class="feature-icon" viewBox="0 0 20 20" fill="currentColor">
            <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
          </svg>
          <span>{{ room.capacity }} pers.</span>
        </div>
        
        <div class="feature">
          <svg xmlns="http://www.w3.org/2000/svg" class="feature-icon" viewBox="0 0 20 20" fill="currentColor">
            <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
          </svg>
          <span>{{ room.surface }} m²</span>
        </div>
      </div>
      
      <!-- Amenities -->
      <div *ngIf="showDetails && room.amenities && room.amenities.length > 0" class="amenities-container">
        <app-amenity-badge 
          *ngFor="let amenity of room.amenities.slice(0, displayedAmenities)" 
          [amenity]="amenity"
          [size]="'small'"
        ></app-amenity-badge>
        
        <span *ngIf="getMoreAmenitiesCount() > 0" class="more-amenities">
          + {{ getMoreAmenitiesCount() }}
        </span>
      </div>
      
      <!-- Price and Button -->
      <div class="card-footer">
        <app-price-display 
          [isDiscounted]="!!room.discountedPrice" 
          [originalPrice]="room.discountedPrice ? room.price : undefined"
          [price]="room.discountedPrice || room.price"
          [periodicity]="'night'"
          [size]="'medium'"
        ></app-price-display>
        
        <a [routerLink]="['/rooms', room.id]" class="details-button">
          <span>Voir détails</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="button-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  
  <!-- Horizontal Layout -->
  <div *ngIf="orientation === 'horizontal'" class="room-card-horizontal">
    <!-- Room Image -->
    <div class="image-container-horizontal">
      <a [routerLink]="['/rooms', room.id]" class="image-link">
        <img 
          [src]="room.mainImage" 
          [alt]="room.name" 
          class="room-image"
        >
      </a>
    </div>
    
    <!-- Content Section -->
    <div class="card-content-horizontal">
      <div class="card-header">
        <!-- Room Name and Type -->
        <div class="room-title-container">
          <h3 class="room-title">
            <a [routerLink]="['/rooms', room.id]">{{ room.name }}</a>
          </h3>
          <p class="room-type">{{ getRoomTypeLabel(room.type) }}</p>
        </div>
        
        <!-- Price -->
        <div class="price-container">
          <app-price-display 
            [isDiscounted]="!!room.discountedPrice" 
            [originalPrice]="room.discountedPrice ? room.price : undefined"
            [price]="room.discountedPrice || room.price"
            [periodicity]="'night'"
            [size]="'medium'"
          ></app-price-display>
        </div>
      </div>
      
      <!-- Description -->
      <p *ngIf="showDetails" class="room-description">
        {{ room.shortDescription }}
      </p>
      
      <!-- Room Features -->
      <div *ngIf="showDetails" class="room-features-horizontal">
        <div class="feature">
          <svg xmlns="http://www.w3.org/2000/svg" class="feature-icon" viewBox="0 0 20 20" fill="currentColor">
            <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
          </svg>
          <span>{{ room.capacity }} pers.</span>
        </div>
        
        <div class="feature">
          <svg xmlns="http://www.w3.org/2000/svg" class="feature-icon" viewBox="0 0 20 20" fill="currentColor">
            <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
          </svg>
          <span>{{ room.surface }} m²</span>
        </div>
        
        <div *ngIf="room.hasBalcony" class="feature">
          <svg xmlns="http://www.w3.org/2000/svg" class="feature-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1.5a1 1 0 01-1-1 1 1 0 011-1H15a2 2 0 00-2-2H7a2 2 0 00-2 2h.5a1 1 0 011 1 1 1 0 01-1 1H4zm7 11a1 1 0 000-2H7a1 1 0 000 2h4z" clip-rule="evenodd" />
          </svg>
          <span>Balcon</span>
        </div>
        
        <div *ngIf="room.view && room.view.length > 0" class="feature">
          <svg xmlns="http://www.w3.org/2000/svg" class="feature-icon" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
          </svg>
          <span>Vue {{ room.view[0] }}</span>
        </div>
      </div>
      
      <!-- Amenities -->
      <div *ngIf="showDetails && room.amenities && room.amenities.length > 0" class="amenities-container">
        <app-amenity-badge 
          *ngFor="let amenity of room.amenities.slice(0, displayedAmenities)" 
          [amenity]="amenity"
          [size]="'small'"
        ></app-amenity-badge>
        
        <span *ngIf="getMoreAmenitiesCount() > 0" class="more-amenities">
          + {{ getMoreAmenitiesCount() }}
        </span>
      </div>
      
      <!-- Button -->
      <div class="button-container">
        <a [routerLink]="['/rooms', room.id]" class="details-button">
          <span>Voir détails</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="button-icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>