/* src/app/features/espace/espace-list/espace-list.component.css */
:host {
    --rex-gold: #E0C989;
    --rex-black: #000000;
    --rex-dark-gray: #1D1D1D;
    --rex-beige: #F5EFE0;
  }
  
  .text-gold {
    color: var(--rex-gold);
  }
  
  .bg-gold {
    background-color: var(--rex-gold);
  }